<h1><%= @place.name %></h1>


<div class="m-2 mt-4">

  <% if @current_user%>
    <p>
      <a class="btn btn-outline-primary" href="/posts/new?place_id=<%= @place.id %>">New Post</a>
    </p>
  <% else %>
  <p>Login to post</p>
  <% end %>

  <h2>My Posts</h2>

    <div class="row m-2 mt-4">
      <!--total units is 12, so 6 each-->
      <!--sm is used to specify when we want the breakpoint-->
      <% for post in @place.posts.where({ user_id: session[:user_id] }) %>
        <div class="col-md-4 col-sm-6">
          <h4 class="fw-bold"><%= post.title %></h4>
          <p class="fw-lighter"><%= post.posted_on %></p>
          <% if post.uploaded_image.attached? %>
            <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
          <% else %>
          <% end %>
          <p><%= post.description %></p>
        </div>
      <% end %>
    </div>



  <br>

  <p>
    <a href="/places">Back to All Places</a>
  </p>

</div>

